################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SkillFactoryLessons_Part3/.vs/SkillFactoryLessons_Part3
